<div class="row center-xs">
	<div class="col-xs-12 col-sm-8 card blue">
		<div class="box">
			<div id="description">
				<h1 class="white-text title-text bold-text">Javier Santa Cruz</h1>
				<p class="text-justify small-text gray-light-text">Soy un apasionado por las startups, mi trabajo como freelancer se ha enfocado en realizar los primeros sitios web que ayudan a emprendimientos a salir al mercado así como apoyarles en construir la mejor herramienta que les ayude a su crecimiento. Me gusta aportar ideas que ayuden a mis clientes a lograr sus metas y sobre todo, a obtener por medio de la tecnología una propuesta de valor que los haga distinguirse y poder afiliar a sus clientes a sus negocios.</p>
			</div>
			<div class="row large-padding">
				<div class="col-xs-12">
					<div class="box">
						<div class="flex">
							<div class="white circle redes">
								<a href="https://twitter.com/jsantacruz_off" target="_blank" class="no-decoration" style="color: black">
									<i class="fab fa-twitter"></i>
								</a>
							</div>
							<div class="white circle redes">
								<a href="https://www.facebook.com/javsantacruz" target="_blank" class="no-decoration" style="color: black">
									<i class="fab fa-facebook-f"></i>
								</a>
							</div>
							<div class="white circle redes">
								<a href="mailto:gomez171094@unis.edu.gt" target="_blank" class="no-decoration" style="color: black">
									<i class="fas fa-at"></i>
								</a>
							</div>
							<div class="white circle redes">
								<a href="tel:44941482" target="_blank" class="no-decoration" style="color: black">
									<i class="fas fa-phone"></i>
								</a>
							</div>
							<div class="white circle redes">
								<a href="https://www.linkedin.com/in/jav-santacruz/" target="_blank" class="no-decoration" style="color: black">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 no-padding">
		<div class="box">
			<div id="profile-image">
				
			</div>
		</div>
	</div>
</div>
<div class="row top-space center-xs">
	<%= render @projects %>
</div>

