<div class="row center-xs card">
	<div class="col-xs-12 col-sm-8 col-md-7 blue large-padding">
		<div class="box">
			<h1 class="big-text white-text bold-text no-margin-bottom">Javier Santa Cruz</h1>
			<p class="medium-text gray-light-text no-margin">Desarrollador web</p>
			<div class="large-padding text-justify gray-light-text">
				<p>Soy un apasionado por las startups, mi trabajo como freelancer se ha enfocado en realizar los primeros sitios web que ayudan a emprendimientos a salir al mercado asi como apoyarles en contruir la mejor herramienta que les ayude a su crecimiento, me gusta aportar ideas que ayude a mis clientes a lograr sus metas y sobre todo a obtener por medio de la tecnologia una propuesta de valor que los haga distinguirse y poder afiliar a sus clientes.</p>
			</div>
			<div id="redes">
				
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-5">
		<div class="box">
			<div id="profile-image">
				
			</div>
		</div>
	</div>
</div>
<div class="row top-space center-xs middle-xs">
	<div class="col-xs-10 large-padding card">
		<div class="box middle-xs">
			<div class="row">
				<div class="col-xs-12 col-sm-5">
					<div class="box">
						 
					</div>
				</div>
				<div class="col-xs-12 col-sm-7">
					<div class="box">
						<h3 class="medium-text bold-text no-margin">DoctorsCo</h3>
						<p class="text-justify">DoctorsCo es un plataforma que conecta a medicos y pacientes con la informacion de las consultas medicas, permitiendo una mejora en el proceso de las consultas medicas, cuenta con mas de 50 usuarios</p>
						<div>
							<%= link_to "ver mas", 'https://doctorsco-ee4c3.web.app/' , class: "btn--blue white-text no-decoration btn" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row top-space center-xs middle-xs">
	<div class="col-xs-10 large-padding card">
		<div class="box middle-xs">
			<div class="row">
				<div class="col-xs-12 col-sm-5">
					<div class="box">
						 
					</div>
				</div>
				<div class="col-xs-12 col-sm-7">
					<div class="box">
						<h3 class="medium-text bold-text no-margin">ShiperBox</h3>
						<p class="text-justify">ShiperBox, realice la pagina web para ayudar a los clientes de la start up a cotizar sus paquetes que deseaban traer desde EEUU, cuenta con modulo de cotizacion, rastreo de paquetes y pedidos en linea</p>
						<div>
							<%= link_to "ver mas", 'http://shiperbox.herokuapp.com/' , class: "btn--blue white-text no-decoration btn" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row top-space center-xs middle-xs">
	<div class="col-xs-10 large-padding card">
		<div class="box middle-xs">
			<div class="row">
				<div class="col-xs-12 col-sm-5">
					<div class="box">
						 
					</div>
				</div>
				<div class="col-xs-12 col-sm-7">
					<div class="box">
						<h3 class="medium-text bold-text no-margin">Sanatorio App</h3>
						<p class="text-justify">Es una app web que ha ayudado a sanatorios a llevar el control de todas sus operaciones, desde proveedores y medicamentos hasta ingreso de pacientes</p>
						<div>
							<%= link_to "ver mas", 'https://sanatorio-familiar.herokuapp.com/users/sign_in' , class: "btn--blue white-text no-decoration btn" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
